/target/

/.settings/
.classpath
.project
.DS_Store
/.metadata/
/bin/
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/com/.DS_Store
src/main/java/com/wealth/.DS_Store
src/main/java/com/wealth/certificate/.DS_Store
src/main/java/com/wealth/certificate/dumps_1z0_808/.DS_Store
